<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzj.core.mapper.EduPaperMapper">

    <!--试卷列表-->
    <select id="getBasePaperList" resultType="com.jzj.core.pojo.vo.EduPaperListVo">
        select p.id,p.gmt_create,p.gmt_modified,p.score,p.subject_id,s.name subject_name,p.question_count,p.paper_name
        from edu_paper p
                 left join edu_subject s on p.subject_id = s.id
        where p.id =#{id}
    </select>
    <!--查询热门的前8条试卷列表-->
    <select id="getHotPaperList" resultType="com.jzj.core.pojo.vo.FrontPaperIndexVo">
        select p.id,p.score,p.suggest_time,p.paper_name,s.name subject_name
        from edu_paper p
                 left join edu_subject s on p.subject_id =s.id
        order by  p.gmt_create desc
            limit 8
    </select>
    <!--根据id查询试卷-->
    <select id="getBasePaperById" resultType="com.jzj.core.pojo.vo.FrontPaperIndexVo">
        select p.id,p.score,p.suggest_time,p.paper_name,s.name subject_name
        from edu_paper p
                 left join edu_subject s on p.subject_id =s.id
        where p.id = #{id}
    </select>


</mapper>
